wheel==0.48.0
six==1.17.0
Flask==3.1.3
Jinja2==3.1.6
MarkupSafe==3.0.3
werkzeug==3.1.8
configargparse==1.7.5
click==8.4.2
itsdangerous==2.2.0
peewee==4.4.0
geopy==2.5.0
s2sphere==0.2.5
PyMySQL==1.2.0
flask-cors==6.0.5
flask-compress==1.24
LatLon==1.0.2
xxhash==4.0.1
sphinx==9.1.0
sphinx-autobuild==2025.8.25
recommonmark==0.7.1
sphinx-rtd-theme==3.1.0
requests[security]==2.34.2
requests-futures==1.0.2
PySocks==1.7.1
cachetools==7.1.7
haversine==2.9.0
psutil==7.2.2
overpy==0.7
protobuf==7.36.0
gpxpy==1.6.2
PyCryptodome==3.23.0
setuptools==84.0.0
timezonefinder==8.3.0
urllib3==2.7.0
